.container-main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4 )), 
    url('../components/bgimg.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    color: whitesmoke;
  }

.text{
    color: whitesmoke;
    margin-top: 4%;
}
.heading{
  color: whitesmoke;
  text-align: left;
}
.content{
  padding: 3%;
  padding-top: 10%;
}

